#lista {
    -fx-background-color: black;
    -fx-control-inner-background: black;
    -fx-border-color: white;
    -fx-border-width: 2pt;
    -fx-border-radius: 10pt;
    -fx-background-radius: 25pt;
    -fx-table-cell-border-color: white;
}

#lista .column-header .label {
    -fx-text-fill: lime;
    -fx-font-size: 10px;
}

#lista .column-header {
    -fx-background-color: black;
    -fx-border-width: 2pt;
    -fx-border-radius: 25pt;
    -fx-background-radius: 25pt;
}

#lista .column-header-background{
    -fx-background-color: black;
    -fx-border-radius: 25pt;
    -fx-background-radius: 25pt;
}